<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="50100">
        <setting label="50101" id="QuitKodi" type="enum" values="Yes|No|Ask" default="0"/>
    </category>
    <category label="50120">
        <setting label="50121" id="SteamUser"       type="text" default=""/>
        <setting label="50122" id="SteamPassword"   type="text" default="" option="hidden"/>
        <setting label="50123" id="SteamFolder"     type="text" default=".steam" />
    </category>
</settings>
 
