#EXTM3U
#EXTINF:0001 tvg-id="daserste.de" group-title="DE Hauptsender" tvg-logo="ard_das_erste.png", [COLOR blue]Das Erste[/COLOR]
http://daserste_live-lh.akamaihd.net/i/daserste_de@91204/master.m3u8
#EXTINF:0002 tvg-id="zdf.de" group-title="DE Hauptsender" tvg-logo="zdf.png", [COLOR blue]ZDF[/COLOR]
http://api.iptv.ink/pl.m3u8?ch=89460817
#EXTINF:0003 tvg-id="rtl.ch" group-title="DE Hauptsender" tvg-logo="rtl.png", [COLOR blue]RTL[/COLOR]
%%DYN_0003%%
#EXTINF:0004 tvg-id="sat1.ch" group-title="DE Hauptsender" tvg-logo="sat1.png", [COLOR blue]Sat.1[/COLOR]
%%DYN_0004%%
#EXTINF:0005 tvg-id="prosieben.ch" group-title="DE Hauptsender" tvg-logo="pro_sieben.png", [COLOR blue]ProSieben[/COLOR]
%%DYN_0005%%
#EXTINF:0006 tvg-id="vox.ch" group-title="DE Hauptsender" tvg-logo="vox.png", [COLOR blue]VOX[/COLOR]
%%DYN_0006%%
#EXTINF:0007 tvg-id="rtl2.ch" group-title="DE Hauptsender" tvg-logo="rtl2.png", [COLOR blue]RTL II[/COLOR]
%%DYN_0007%%
#EXTINF:0008 tvg-id="kabeleins.ch" group-title="DE Hauptsender" tvg-logo="kabel_eins.png", [COLOR blue]kabel eins[/COLOR]
%%DYN_0008%%
#EXTINF:0009 tvg-id="superrtl.ch" group-title="DE Kindersender" tvg-logo="super_rtl.png", [COLOR blue]Super RTL[/COLOR]
%%DYN_0009%%
#EXTINF:0010 tvg-id="kika.de" group-title="DE Kindersender" tvg-logo="kika.png", [COLOR blue]KiKA[/COLOR]
http://api.iptv.ink/pl.m3u8?ch=14807581
#EXTINF:0011 tvg-id="disney.de" group-title="DE Kindersender" tvg-logo="disney_channel.png", [COLOR blue]Disney Channel[/COLOR]
%%DYN_0011%%
#EXTINF:0012 tvg-id="nick.de" group-title="DE Kindersender" tvg-logo="nickelodeon.png", [COLOR blue]Nickelodeon[/COLOR]
%%DYN_0012%%
#EXTINF:0013 tvg-id="viva.de" group-title="DE Musik/Unterhaltung" tvg-logo="comedy_central.png", [COLOR blue]Viva/ComedyCentral[/COLOR]
%%DYN_0013%%
#EXTINF:0014 tvg-id="ntv.de" group-title="DE Nachrichtensender" tvg-logo="ntv.png", [COLOR blue]n-tv[/COLOR]
http://api.iptv.ink/pl.m3u8?ch=36117276
#EXTINF:0015 tvg-id="tagesschau24.de" group-title="DE Nachrichtensender" tvg-logo="tagesschau24.png", [COLOR blue]tagesschau24[/COLOR]
http://api.iptv.ink/pl.m3u8?ch=66943285
#EXTINF:0016 tvg-id="n24.de" group-title="DE Nachrichtensender" tvg-logo="n24.png", [COLOR blue]N24[/COLOR]
http://api.iptv.ink/pl.m3u8?ch=94565800
#EXTINF:0017 tvg-id="zdfinfo.de" group-title="DE Spartensender" tvg-logo="zdf_info.png", [COLOR blue]ZDFinfo[/COLOR]
http://api.iptv.ink/pl.m3u8?ch=46937073
#EXTINF:0018 tvg-id="phoenix.de" group-title="DE Spartensender" tvg-logo="phoenix.png", [COLOR blue]Phoenix[/COLOR]
http://api.iptv.ink/pl.m3u8?ch=86652639
#EXTINF:0019 tvg-id="zdfneo.de" group-title="DE Spartensender" tvg-logo="zdf_neo.png", [COLOR blue]ZDFneo[/COLOR]
http://api.iptv.ink/pl.m3u8?ch=83251092
#EXTINF:0020 tvg-id="tele5.de" group-title="DE Spartensender" tvg-logo="tele5.png", [COLOR blue]TELE 5[/COLOR]
%%DYN_0020%%
#EXTINF:0021 tvg-id="rtlnitro.de" group-title="DE Hauptsender" tvg-logo="rtl_nitro.png", [COLOR blue]RTL Nitro[/COLOR]
%%DYN_0021%%
#EXTINF:0022 tvg-id="prosiebenmaxx.de" group-title="DE Hauptsender" tvg-logo="pro_sieben_maxx.png", [COLOR blue]ProSieben Maxx[/COLOR]
%%DYN_0022%%
#EXTINF:0023 tvg-id="sixx.de" group-title="DE Hauptsender" tvg-logo="sixx.png", [COLOR blue]Sixx[/COLOR]
%%DYN_0023%%
#EXTINF:0024 tvg-id="arte.de" group-title="DE Spartensender" tvg-logo="arte.png", [COLOR blue]arte[/COLOR]
http://api.iptv.ink/pl.m3u8?ch=46301796
#EXTINF:0025 tvg-id="3sat.de" group-title="DE Spartensender" tvg-logo="3sat.png", [COLOR blue]3sat[/COLOR]
http://zdf_hds_dach-f.akamaihd.net/i/dach10_v1@87031/master.m3u8
#EXTINF:0026 tvg-id="alpha.de" group-title="DE Spartensender" tvg-logo="ard_alpha.png", [COLOR blue]ARD Alpha[/COLOR]
http://api.iptv.ink/pl.m3u8?ch=36929284
#EXTINF:0027 tvg-id="zdfkultur.de" group-title="DE Spartensender" tvg-logo="zdf_kultur.png", [COLOR blue]ZDFkultur[/COLOR]
http://api.iptv.ink/pl.m3u8?ch=70552908
#EXTINF:0028 tvg-id="euronews.de" group-title="DE Nachrichtensender" tvg-logo="euronews.png", [COLOR blue]euronews[/COLOR]
%%DYN_0028%%